<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/crudObra.css" />
    <title>CRUD Obra</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
        <div class="button-container1">
          <button id="centralButton" class="green-button">Central do Administrador</button>
        </div>
      </div>
    </div>
    <div class="form-title">Lista de Obras</div>
    <div class="container">
      <table class="custom-table">
        <tr class="table-top">
          <td>ID</td>
          <td>Cliente</td>
          <td>Cidade</td>
          <td>m²</td>
          <td>Data de Início</td>
          <td>Ação</td>
        </tr>
        <% obras.forEach(function(obra) { %>
        <tr>
          <% function formatarData(data) {
            const dataFormatada = new Date(data);
            dataFormatada.setDate(dataFormatada.getDate() + 1);
            const dia = dataFormatada.getDate().toString().padStart(2, '0');
            const mes = (dataFormatada.getMonth() + 1).toString().padStart(2, '0');
            const ano = dataFormatada.getFullYear();
            return `${dia}/${mes}/${ano}`;
          } %>
          <td><%= obra.idObra %></td>
          <td><%= obra.cliente.nomeCliente %></td>
          <td><%= obra.cidadeObra %></td>
          <td><%= obra.tamanhoTerrenoObra %></td>
          <td><%= formatarData(obra.dataInicioObra) %></td>
          <td class="button-container">
            <button class="button-1 detalhes-btn" data-material-id="<%= obra.idObra %>">Detalhes</button>
            <a href="/editarObra/<%= obra.idObra %>" class="button-2">Editar</a>
            <form method="post" action="/excluirObra/<%= obra.idObra %>">
              <button class="button-3 deleteBtn" type="submit">Excluir</button>
            </form>
          </td>       
        </tr>
        <div
          class="detalhes-card-container"
          id="detalhes-card-<%= obra.idObra %>"
        >
          <div class="detalhes-card">
            
            <h2><%= obra.cliente.nomeCliente %></h2>
            <p>Endereço: <%= obra.enderecoObra %></p>
            <p>Possui Garagem? <%= obra.garagemObra ? 'Sim' : 'Não' %></p>
          
            <button class="fechar-detalhes-btn">Fechar</button>
          </div>
        </div>
        <% }); %>
      </table>
    </div>
    <a href="/cadastroObra" class="green-button">Cadastrar nova obra</a>
    <br /><br />
  </body>
  <script src="../scripts/cadastroObra.js"></script>
</html>
