<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/crudMaterial.css" />
    <title>CRUD Material</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
        <div class="button-container1">
          <button id="centralButton" class="green-button">Central do Administrador</button>
        </div>
      </div>
    </div>
    <div class="form-title">Materiais</div>
    <div class="container">
      <table class="custom-table">
        <tr class="table-top">
          <td>ID</td>
          <td>Material</td>
          <td>Preço</td>
          <td>Tipo</td>
          <td>Fornecedor</td>
          <td>Ação</td>
        </tr>
        <% materiais.forEach(function(material) { %>
        <tr>
          <td><%= material.idMaterial %></td>
          <td><%= material.nomeMaterial %></td>
          <td>R$ <%= material.precoMaterial %></td>
          <td><%= material.tipoMaterial %></td>
          <td><%= material.fornecedor.nomeFornecedor %></td>
          <td class="button-container">
            <button class="button-1 detalhes-btn" data-material-id="<%= material.idMaterial %>">Detalhes</button>
            <a href="/editarMaterial/<%= material.idMaterial %>" class="button-2">Editar</a>
            <form method="post" action="/excluirMaterial/<%= material.idMaterial %>">
              <button class="button-3 deleteBtn" type="submit">Excluir</button>
            </form>
          </td>       
        </tr>
        <div
          class="detalhes-card-container"
          id="detalhes-card-<%= material.idMaterial %>"
        >
          <div class="detalhes-card">
            
            <h2><%= material.nomeMaterial %></h2>
            <p>Descricao: <%= material.descricaoMaterial %></p>
          
            <button class="fechar-detalhes-btn">Fechar</button>
          </div>
        </div>
        <% }); %>
      </table>
    </div>
    <a href="/cadastroMaterial" class="green-button">Cadastrar novo material</a>
    <br /><br />
  </body>
  <script src="../scripts/cadastroMaterial.js"></script>
</html>
