<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/visualizarEtapa.css" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />

    <title>Visualizar Etapa</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
        <div class="button-container1">
          <button id="centralButton" class="green-button">Central do Administrador</button>
        </div>
      </div>
    </div>
    <div class="form-title">Etapas da Obra</div>
    <div class="container">
      <div class="etapas-carousel">
        <% etapasComItens.forEach(function(etapaComItens) { %>
        <div class="etapa">
          <div class="etapa-title"><%= etapaComItens.etapa.nomeEtapa %></div>
          <form
            method="POST"
            action="/registrarPagamentoTodosItens/<%= etapaComItens.etapa.idEtapa %>"
          >
            <button class="button-4" type="submit">
              Registrar Pagamento de Todos
            </button>
          </form>
          <table class="custom-table">
            <tr class="table-top">
              <td>Valor</td>
              <td>Descrição</td>
              <td>Ação</td>
            </tr>
            <% etapaComItens.itens.forEach(function(item) { %>
            <tr>
              <td>R$<%= item.valorItem %></td>
              <td><%= item.descricaoItem %></td>
              <td class="button-container">
                <a href="/editarItem/<%= item.idItem %>" class="button-1"
                  >Editar</a
                >
                <form method="POST" action="/excluirItem/<%= item.idItem %>">
                  <button class="button-2 deleteBtn" type="submit">
                    Excluir
                  </button>
                </form>
                <% if (!item.pagamentoItem) { %>
                <form
                  method="POST"
                  action="/registrarPagamento/<%= item.idItem %>"
                >
                  <button class="button-3 truePaymentBtn" type="submit">
                    Registrar Pagamento
                  </button>
                </form>
                <% } %> <% if (item.pagamentoItem) { %>
                <form>
                  <button class="button-3 falsePaymentBtn" type="submit">
                    Registrar Pagamento
                  </button>
                </form>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </table>
          <div>
          <br /><br />
          <div class="button-container">
          <a href="/cadastroItem" id="btnItem" class="green-button"
            >Cadastrar novo item</a
          >
          <a
            href="/editarEtapa/<%= etapaComItens.etapa.idEtapa %>"
            class="button-1"
            >Editar Etapa</a
          >
          <br /><br />
          <form
            method="POST"
            action="/excluirEtapa/<%= etapaComItens.etapa.idEtapa %>?_method=DELETE"
          >
            <button class="button-2 deleteBtn" type="submit">
              Excluir Etapa
            </button>
          </div>
          </form>
        </div>
        </div>
        <% }); %>
      </div>
    </div>
    <div>
      <a href="/cadastroEtapa" id="btnEtapa" class="green-button"
        >Cadastrar nova etapa</a
      >
    </div>
    <div class="card-container">
      <div class="card">
        <h2>Total:</h2>
        <p id="valorTotalPlaceholder"></p>
      </div>
      <div class="card">
        <h2>Recebido:</h2>
        <p id="valorRecebidoPlaceholder"></p>
      </div>
      <div class="card">
        <h2>Restante:</h2>
        <p id="valorRestantePlaceholder"></p>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="../scripts/visualizarEtapa.js"></script>
</html>
